html {
  min-height: 100%;
}

body {
  margin: 20px;
  padding: 0;
  background: lightgray;
  min-height: 150vh;
}

.game {
  max-width: 470px;
  margin: 0 auto;
  /* padding: 20px; */
}

.game-info {
  background: teal;
  margin-bottom: 10px;
  padding: 0;
  text-align: center;
  min-height: 100px;
  border-radius: 7px;
}

.cell {
  background: gray;
  border: 1px solid white;
  line-height: 45px;
  height: 45px;
  width: 45px;
  text-align: center;
  color: black;
  font-weight: 600;
  float: left;
}